<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2 mt-4">
      <h4>マイページ</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-2">
      <h5>
        <strong>登録情報</strong>
        <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success" %>
      </h5>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 30%">氏名</th>
            <td>
              <%= @customer.last_name %>
              <%= @customer.first_name %>
            </td>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td>
              <%= @customer.last_name_kana %>
              <%= @customer.first_name_kana %>
            </td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-2">
      <h5>
        <strong>配送先</strong>
        <%= link_to "一覧を見る", addresses_path, class:"btn btn-primary" %>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-2">
      <h5>
        <strong>注文履歴</strong>
        <%= link_to "一覧を見る", orders_path, class:"btn btn-primary" %>
      </h5>
    </div>
  </div>
</div>

