<h1>商品一覧</h1>

<%= link_to "新規登録",new_admin_item_url %>

<% @items.each do |item| %>

<p>商品id</p>
<%= item.id %>

<p>商品名</p>
<%= link_to item.name, "items/#{item.id}" %>

<p>税抜価格</p>
<%= item.price_without_tax %>

<p>ジャンル</p>
<%= item.genre.name %>

<% end %>