<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <h2>商品詳細</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="mx-auto">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th></th>
          <td><%= image_tag @item.image, size: "280x200" %></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格(税抜価格)</th>
          <td><%= (@item.price_without_tax * 1.1).floor %>円
              (<%= @item.price_without_tax %>円)
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



