<h1>会員詳細ページ</h1>

<p>氏名</p>
<%= @customer.last_name %>
<%= @customer.first_name %>

<p>フリガナ</p>
<%= @customer.last_name_kana %>
<%= @customer.first_name_kana %>

<p>郵便番号</p>
<%= @customer.postal_code %>

<p>住所</p>
<%= @customer.address %>

<p>電話番号</p>
<%= @customer.telephone_number %>

<p>メールアドレス</p>
<%= @customer.email %>