<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>ジャンル一覧・追加</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <%= form_with model: @genre,url: admin_genres_path do |f| %>
        <tbody>
          <tr>
            <th>ジャンル名</th>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録', class:"btn btn-success" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <table class="table table-striped">
      <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <th><%= genre.name %></th>
            <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success" %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>

