<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h2>配送先登録/一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <table class="table">
        <tbody>
          <%= form_with model: @address,url: addresses_path do |f| %>
          <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
          </tr>
          <tr>
            <th>宛名</th>
            <td><%= f.text_field :name %></td>
            <td><%= f.submit '新規登録', class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <% @addresses.each do |address| %>
        <tbody>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td><%= link_to '編集', edit_address_path(address), class:"btn btn-success" %>
                <%= link_to "削除", address_path(current_customer), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>