<div class="container">

  <div class="row mt-3 mb-3">
    <div class="col-md-10 col-md-offset-2">
      <h4>注文情報確認</h4>
    </div>
  </div>

  <% @cart_items.each do |cart_item| %>
  <div class"row">

    <div class="col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td><%= cart_item.item.price_without_tax * 1.1 %>円</td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %>円</td>
            <% @total_price = @total_price + (cart_item.item.price_without_tax * 1.1).floor * cart_item.amount %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <table class="table table-bordered">
          <tr>
            <th>配送料</th>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <th>合計</th>
            <td><%= @total_price %>円</td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%= @order.shipping_cost + @total_price %>円</td>
          </tr>
      </table>
    </div>
  </div>
  <% end %>

  <%= form_with model: @order, url: orders_path do |f| %>
  <%= f.hidden_field :order_id, :value => @order.id %>

  <div class="row">
    <div class="col-lg-4 offset-1">
      <h6>
      <strong>支払方法</strong>
      </h6>
      <%=  @order.payment_method_i18n %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-4 offset-1">
      <h6>
      <strong>お届け先</strong>
      </h6>
        <%= @order.postal_code %>
        <%= f.hidden_field :postal_code, :value => @order.postal_code %>

        <%= @order.address %>
        <%= f.hidden_field :address, :value => @order.address %>

        <%= @order.name %>
        <%= f.hidden_field :name, :value => @order.name %>

        <%= f.hidden_field :total_payment, :value => @total_price %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="mx-auto">
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>
