<h5>注文履歴一覧</h5>

<% @orders.each do |order|%>
<p>注文日</p>
<%= order.created_at.strftime('%Y/%m/%d') %>

<p>配送先</p>
<%= order.address %>

<p>注文商品</p>
<% order.order_details.each do |order_detail| %>
<%= order_detail.item.name %>
<% end %>

<p>支払金額</p>
<%= order.total_payment %>

<p>注文詳細</p>
<%= link_to "表示する", order_path(order.id) %>
<% end %>