<div class="container">
  <div class="row mt-3">
    <div class="col-md-10 col-md-offset-2">
      <h4>注文履歴詳細</h4>
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col-lg-8">
      <p>
        <strong>注文情報</strong>
      </p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>
              〒<%= @order.postal_code %>
              <%= @order.address %>
            </td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="col-lg-4">
      <p>
        <strong>請求情報</strong>
      </p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_payment %>円</td>
          </tr>
          <tr>
            <th>配送料</th>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <th>ご請求額</th>
            <td><%= @order.total_payment + @order.shipping_cost %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-lg-8">
      <p>
        <strong>注文内容</strong>
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @order.order_details.includes(:item).each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= (order_detail.item.price_without_tax * 1.1).floor %>円</td>
            <td><%= order_detail.amount %>個</td>
            <td><%= (order_detail.subtotal * 1.1).floor %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

